body {
  position: relative;
  background: linear-gradient(
    to right,
    rgb(255, 251, 0),
    rgb(0, 217, 255),
    rgb(184, 132, 35)
  );
  text-align: center;
  top: 15%;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h1 {
  font-family: "Impact, Haettenschweiler, " Arial Narrow Bold ", sans-serif";
  color: black;
  font-size: 50px;
  position: relative;
  text-align: center;
  top: 5em;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  position: relative;
  text-align: center;
  top: 8em;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;

  position: relative;
  font-size: 15px;
  top: 20em;
  color: white;
}
input {
  position: relative;
  top: 17em;
  background: linear-gradient(0.2turn, #fd0054, #418f06, #10047e);
  border-radius: 6%;
  width: 200px;
  height: 50px;
}

input:hover {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
